/* - - - - - - - - - - - - - - - - - - - - - - - 
GENERAL
- - - - - - - - - - - - - - - - - - - - - - -  */
body, html {
  height: 100%;
}

.menu-text, .about, .projects, .articles, .top-bar, .title-bar, .off-canvas {
  font-family: 'Karla', sans-serif;
  color: #485063;
}

.wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1200px;
}

.wrap-articles {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10%;
  max-width: 1900px;
}

a.menu-options {
  line-height: 50px;
  margin: 0px;
}

h3.menu-text {
  margin: 0px;
  line-height: 70px;
}

.top-bar li {
  background-color: white;
}

.top-bar-left {
  float: left;
}

.top-bar-right {
  float: right;
}



/* - - - - - - - - - - - - - - - - - - - - - - - 
NAV
- - - - - - - - - - - - - - - - - - - - - - -  */
.top-bar {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
}

.sticky-topbar {
  width: 100%;
}

/* Menu w/ hover border CSS (from Foundation website) */
.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  /*Text color*/
  color: rgba(10, 10, 10, 0.5);
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  /*Transition color*/
  background-color: #2f545e;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  /* Text color when hovering*/
  color: #2f545e;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}




/* - - - - - - - - - - - - - - - - - - - - - - - 
NAV MOBILE
- - - - - - - - - - - - - - - - - - - - - - -  */
.title-bar {
  background-color: white;
  height: 80px;
  color: rgba(10, 10, 10, 0.5);
  border-bottom: 1px solid #dcdcdc;;
}

.menu-icon {

}

#mobile-menu {
  background-color: #dcdcdc;
  padding: 10px;
}

#mobile-menu li {
  list-style: none;
}

#mobile-menu a {
  color: rgba(10, 10, 10, 0.5);
  font-weight: bold;
  line-height: 2;
}

#mobile-menu a:hover {
  color:  rgba(255, 255, 255, 0.8);
}

.js-off-canvas-overlay {
  background: rgba(0, 0, 0, 0.5);
}





/* - - - - - - - - - - - - - - - - - - - - - - - 
TITLE
- - - - - - - - - - - - - - - - - - - - - - -  */
.fullname {
  padding: 60px 0 30px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}







/* - - - - - - - - - - - - - - - - - - - - - - - 
HERO
- - - - - - - - - - - - - - - - - - - - - - -  */
.hero {
  padding-right: 50%;
  padding-top: 150px;
  background-image: url("webBack.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  background-color: #dae9ed;
  min-height: 91.5vh;
}




/* - - - - - - - - - - - - - - - - - - - - - - - 
MAIN
- - - - - - - - - - - - - - - - - - - - - - -  */
/* About */
.main {
  font-size: 1.4em;
}

.about, {
  padding-top: 12%;
}

.about-title {
  text-align: center;
  padding-top: 10%;
}





.linkedin, .github, .email{
  padding: 0px 10px;
}

.logos {
  font-size: 10px; 
  /* Gaving alignment issues; did an ugly fix with a tranform */
  transform: translate(0%, 8%);
}



/* Articles */
.article-cell {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  background-color: white;
  padding: 1rem 20px;
}

.article-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 220%;
  line-height: 110%;
  color: black;
}

.article-title:hover {
  color: #4c4f52;
}

.publish-date {
  font-size: 80%;
  color: #777777;
  padding-bottom: 20px;
}

.article-beginning p {
  line-height: 135%;
}

.cont-reading-button {
  padding-top: 20px;
}

.cont-reading-button-extra {
  background-color: black;
}

.cont-reading-button-extra:hover {
  background-color: #4c4f52;
}

.article-body p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}



/* Single Article Page */
.single-article-cell {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  background-color: white;
}

.article-thumbnail {
  width: 100%;
  padding-bottom: 30px;
}

.article-body-thumbnail {
  width: 100%;
}

.article-photo-caption {
  font-size: 70%;
  padding-bottom: 20px;
}

.prev-post-label, .next-post-label {
  font-size: 80%;
  color: #777777;
}

.bottom-of-article {
  padding-top: 40px;
}

.read-last {
  text-align: left;
}

.read-next {
  text-align: right;
}

.next-post-link, .last-post-link {
  color: black;
}

.next-post-link:hover, .last-post-link:hover {
  color: #4c4f52;
}

.single-article-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 300%;
  text-align: center;
  line-height: 110%;
  color: black;
}

.single-publish-date {
  font-size: 80%;
  color: #777777;
  text-align: center;
  padding-bottom: 20px;
}



/* Project Section Floating Dropdown Menu */
.project-dropdown-menu {
  padding-top: 100px;
  padding-left: 10px;
}


/* Portfolio CSS (from Foundation website) */

.portfolio-hero-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 2rem 0;
}

.portfolio-hero-header-description {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding:0 50px;
}

.portfolio-hero-header-description li {
  -webkit-flex: 1 0 200px;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  text-align: center;
  padding: 0 1.25rem;
  position: relative;
  white-space: nowrap;
}

.portfolio-hero-header-description li:before {
  content: "*";
  position: absolute;
  left: 0;
  top: 5px;
}

.portfolio-hero-header-description li:first-child:before {
  content: "";
}

.portfolio-hero-header-menu {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.portfolio-hero-header-menu li {
  margin: 1.25rem;
}

.portfolio-hero-header-menu li a {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}


/* - - - - - - - - - - - - - - - - - - - - - - - 
PROJECTS
- - - - - - - - - - - - - - - - - - - - - - -  */
.projects {
  padding-top: 0px;
}

.nba-proj {
  padding-top: 50px;
}

.projects-title {
  text-align: center;
}

.proj-list {
  padding-left: 10%;
}

.project-section {
  padding-top: 40px;
  text-align: center;
}

.project-section p {
  text-align: left;
}

.project-section img {
  padding: 20px 0 40px 0;
}

.proj-bullets {
  text-align: left;
  padding-left: 10%;
}

.proj-thumbnail {
  width: 100%;
  padding-bottom: 30px;
}

.proj-cell {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  background-color: white;
  padding: 1rem 20px;
}

.proj-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 220%;
  line-height: 110%;
  color: black;
}

.proj-title:hover {
  color: #4c4f52;
}

.partitionsImage, .rocCurveImage, .articleImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.foundation-image {
  border: 1px solid black;
}


/* - - - - - - - - - - - - - - - - - - - - - - - 
FOOTER
- - - - - - - - - - - - - - - - - - - - - - -  */
footer {
  margin-top: 150px;
  width: 100%;
  background-color: #F5F5F5;
  position: relative;
  right: 0;
  bottom: 0;
  height: 50px;
  border-top: 1px solid #dcdcdc;
}

.connect-title {
  text-align: center;
}




/* - - - - - - - - - - - - - - - - - - - - - - - 
MOBILE
- - - - - - - - - - - - - - - - - - - - - - -  */
@media only screen and (max-width: 639px) {
  .hero {
    background-image: url(mobileBack.png);
  }

  .fullname {
    width: 75%;
  }

  footer {
    padding: 12px;
  }

  .hero {
    padding: 60px 158px 20px 20px;
  }

  .prev-post-label, .next-post-label {
    font-size: 60%;
  }

  .next-post-link, .last-post-link {
    font-size: 80%;
  }

  .top-bar-right-mobile {
    float: right;
    padding-bottom: 6px;
  }

  .mobile-menu-button {
    float: left;
    padding-top: 20px;
  }

  .single-article-title {
    font-size: 240%;
  }
}
